{% extends 'gamenet.html' %}

{% block page_title %}
    {{ game.name }}
{% endblock page_title %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10">
                <div class="card text-center">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ game.name }}</h4>
                        <p class="card-text">
                            Released: <span class="text-danger">{{ game.year_released }}</span> <br>
                            Company: <span class="text-danger">{{ game.company }}</span> <br>
                            Released: <span class="text-danger">{{ game.status }}</span>


                        </p>
                        <p class="card-text text-justify ">{{ game.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-left">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center">Other games</h4>
                        <ol class="ml-3">
                            {% for game in all_games %}
                            <a href="{% url 'Game_detail_view' game.pk %}">
                                <li>{{ game.name}}</li>
                            </a>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}